.App {
  text-align: center;
  
}

html {
  background-image: url(IMG/body-back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  
  color: white;
}

.feher{
  background-color: lightgreen;
  opacity: 0.35;
  height: 15rem;
  margin-top: 5rem;
  border-radius: 20px;
  width: 96vw;
  margin-right: 2vw;
  margin-left: 2vw;
}

#tizesbol, #kettesbol, #tizenhatosbol{
  opacity: 1;
  position: relative;
  top: -15rem;
  margin-bottom: -15rem;
  height: 15rem;
  width: 96vw;
  margin-right: 2vw;
  margin-left: 2vw;
  /*border: 2px solid green;*/
  border-radius: 20px;
  /*color: black;*/
}